<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aware.plugin.howareyou">

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application android:name="com.aware.plugin.howareyou.HowAreYouApp"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        tools:replace="android:icon, android:label">

        <!-- Use a hardcoded label string on the service
        to keep the name of the original plugin if added as a library to another -->
        <service
            android:name="com.aware.plugin.howareyou.Plugin"
            android:exported="true"
            android:label="AWARE: Plugin Template" />

        <activity
            android:name="com.aware.plugin.howareyou.Settings"
            android:exported="true"
            android:theme="@style/Theme.AppCompat"
            android:label="HowAreYou Settings"/>

        <!-- Keep the ${applicationId} so there are no conflicts when merging this plugin as a library for reuse. Update the plugin_howareyou string in values -->
        <provider
            android:name="com.aware.plugin.howareyou.Provider"
            android:authorities="${applicationId}.provider.howareyou"
            android:exported="true"
            android:label="@string/plugin_howareyou"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <service
            android:name="com.aware.plugin.howareyou.syncadapters.HowAreYou_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_howareyou" />
        </service>

        <service
            android:name=".photo.EmotionRecognitionService"
            android:enabled="true"
            android:exported="true"></service>

        <service
            android:name=".photo.PhotoNotificationDisplayService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".question.Question_Color"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true">
        </activity>

        <activity
            android:name=".question.Question_Emoji"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true">
        </activity>
        <activity
            android:name=".plugin.DebugDialog"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true">
        </activity>

        <receiver android:name="com.aware.plugin.howareyou.PluginManager"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_START_QUESTION_COLOR" />
                <action android:name="ACTION_ON_FINISHED_QUESTION_COLOR" />
                <action android:name="ACTION_START_QUESTION_EMOJI" />
                <action android:name="ACTION_ON_FINISHED_QUESTION_EMOJI" />
                <action android:name="ACTION_START_PHOTO_EMOTION_RECOGNITION" />
                <action android:name="ACTION_ON_FINISHED_PHOTO_EMOTION_RECOGNITION" />
            </intent-filter>
        </receiver>

        <service android:name="agh.heart.HeaRTService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

    </application>
</manifest>
